
/* FOR TABLETS */
@media (max-width: 1024px){


#h1{
    font-size:45px;
    text-align:center;
}

#logo{
    height:180px;
}

.navbar{
    flex-wrap:wrap;
    height:auto;
    padding:10px;
    gap:10px;
}

.navbarlinks{
    margin-right:10px;
    font-size:18px;
    padding:8px;
}

.divbody{
    flex-direction:column;
    align-items:center;
    text-align:center;
}
.para{
   font-family: Arial;
   font-weight: bold;
}

.divbody15{
    padding-top:0px;
    flex-direction:column;
    align-items:center;
}
.divbody,.divbody1,.divbody2{
    margin: 20px 20px 20px; 
    border-width:5px;
}
.image{
   height:auto;
   width:50%;
   margin:10px;
   border-radius:0%;

}
.image2{
    width:40%;
    height:80%;
    padding-top:0px;
    margin:20px;
    margin-top:0px;
   
    border-radius:0%;
}

.images{
    flex-wrap:wrap;
    gap:30px;
}

.warli,.gond,.madhubani,.phad{
    height:250px;
}

.point{
    font-size:32px;
}

.para{
    font-size:18px;
    margin-left:0;
}


}

/* FOR MOBILES */
@media (max-width: 600px){


.header{
    height:100px;
    padding:15px;
}

.header-content{
    flex-direction:row;
    gap:10px;
}

#h1{
    font-size:32px;
}

#logo{
    height:80px;
}

.navbar{
    flex-direction:row;
    align-items:center;
}
#Home{
    margin:0px;
}
.navbarlinks{
    font-size:12px;
    margin-right:0;
}

.divbody,
.divbody15{
    flex-direction:column;
    padding:10px;
}
.divbody,.divbody1,.divbody2{
    margin: 20px 20px 20px; 
    border-width:5px;
}


.image{
   height:auto;
   width:50%;
   margin:10px;
   border-radius:0%;

}
.image2{
    width:40%;
    height:80%;
    margin:10px;
    border-radius:0%;
}

.images{
    flex-direction:column;
    align-items:center;
}

.warli,.madhubani{
    width:70%;
    height:auto;
    border-radius:0%;
}
.gond{
   height: 200px;
   border-radius:0%;
}
.phad{
   height: 200px;
   width:80%;
   border-radius: 0%;
}

.point{
    font-size:16px;
}

.para{
    font-size:10px;
    padding:10px;
    font-family: Arial;
}

figcaption{
    font-size:16px;
}

.footer{
    background-color: #023047;
    color:white;
    height:auto;
    border:2px solid black;
    font-size:40%;
    font-family:Cambria;
}
#Aboutus{
    text-align: center;
    padding:0px;
    margin:10px;
    text-decoration: underline;
    opacity: 0.6;
}
.creators{
   font-size:70%;
}
}

   
